body {
    height: max;
}

.globalnav {
    background: #003478;
    clear: both;
    height: 30px;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
}


/* .container {
    max-width: 940px;
} */

.container {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.btn-toggle {
    background: #000;
    display: none;
    height: 30px;
    left: 0;
    position: fixed;
    top: 0;
    width: 35px;
    z-index: 1000;
}

.toggle-nav:hover span {
    background-color: #808080;
}

.header {
    background: #fff;
    /*  min-height: 500px; */
}

.header_top {
    color: #fff;
    font-family: 'Roboto Condensed', sans-serif;
    height: 30px;
    line-height: 30px;
    padding-right: 25px;
    position: relative;
    text-align: right;
}

.header_top .label {
    display: inline-block;
    vertical-align: middle;
}

.header_top a,
.header_top span {
    font-size: 12.5px;
    font-weight: normal;
    color: #fff;
}

.header_top a:hover {
    color: #ff7800;
}

.lable {
    display: inline;
    padding: .2em .6em .3em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25em;
}

a {
    text-decoration: none;
    transition: all 0.5s;
    border: 0 none;
    color: black;
}

a:hover {
    text-decoration: none;
}

.header_top .list-top {
    display: inline-block;
    vertical-align: middle;
}

.list-top {
    list-style: none;
    padding: 0;
    margin: 0 0 0 30px;
}

.list-top li {
    display: inline-block;
    padding: 0 3px;
}

li {
    font-size: 16px;
    color: white;
}

.container-search {
    background: #fff;
    font-size: 13px;
    height: 22px;
    line-height: 20px;
    margin-left: 30px;
    padding: 0 10px;
}

.container-search {
    display: inline-block;
    vertical-align: middle;
    background: #fff;
    font-size: 13px;
    height: 22px;
    line-height: 20px;
    margin-left: 30px;
    padding: 0 10px;
}

.header {
    margin: 50px auto 30px auto;
    vertical-align: middle;
}

.header_logo h1 {
    margin: 0 0 20px 0;
    font-size: 20px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Roboto", Helvetica, Arial, sans-serif;
}


/* slider */

#carouselExampleIndicators {
    margin-top: 20px;
    box-shadow: 2px 2px 2px #666;
    -moz-box-shadow: 2px 2px 2px #666;
    -webkit-box-shadow: 2px 2px 2px #666;
}

.carousel-inner img {
    width: 930px;
    height: 356px;
}

.carousel-inner {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.icon-detail {
    color: #9c1010;
    font-family: Calibri;
    margin-left: 20px;
    font-size: 16px;
    text-decoration: none;
}


/* search */

input[type="text"] {
    background-color: #fff;
    border: 0px solid #e0e0e0;
    border-radius: 3px;
    box-shadow: none;
    box-sizing: border-box;
    height: 22px;
    line-height: 1.5;
    margin-bottom: 10px;
    padding: 4px 30px 4px 6px;
    vertical-align: middle;
    width: 180px;
}

.searchbutton {
    height: 16px;
    width: 16px;
    background: url(icon-search.png) no-repeat 0 -72px;
    margin-top: -10px;
    font-size: 0px;
    border: 0px;
}

.portlet-nested-portlets .portlet-boundary {
    left: 0!important;
    position: relative!important;
    top: 0!important;
    float: left;
}

.portlet-fulltitle {
    width: 100%;
    margin-bottom: 20px;
}

.portlet-title-text {
    font-size: 24px;
    text-transform: uppercase;
    color: #9e100e;
    font-family: Arial!important;
    font-weight: initial;
}

.portlet-title-text {
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    -ms-text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    max-width: 95%;
    vertical-align: top;
}

.portlet-column {
    margin-top: 20px;
}

.portlet-column h1 {
    line-height: 40px;
}

.card-body {
    text-align: center;
    flex: 1 1 auto;
    padding: 0px;
}

.title a:hover {
    color: red;
}

.card-product {
    margin-top: 20px;
    /*  border: thin solid #ccc; */
    -moz-border-radius-bottomright: 10px;
    -webkit-border-bottom-right-radius: 10px;
    -webkit-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    -ms-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
}

.cse-tlu-tintuc {
    position: relative;
    margin-top: -15px;
}

.card-body a {
    color: black;
}

.card-img-top {
    width: 100%;
    height: 185px;
}

@media screen and (max-width: 576px) {
    .card-img-top {
        width: 100%;
        height: 100%;
    }
}

.news-ul3-Ex {
    padding-left: 0;
    margin: 0;
}

.news-ul3-Ex li {
    background: url(image/sao.png) no-repeat scroll 0 12px;
    margin: 0;
    padding: 5px 0 5px 14px;
    list-style-type: none;
    text-align: justify;
    font-size: 15px;
}

.portlet-content {
    margin: -10px 0 0 -10px;
}

.tnb-first a:hover {
    color: red;
}

.cse-tlu-tinnoibat {
    margin-top: 30px;
}


/* portlet-layout*/

.portlet-layout {
    padding: 20px 0 10px 0;
}

.main {
    min-height: 300px;
    padding-bottom: 10px;
}


/* menu */

.nav-main {
    display: block;
    font-size: 16px;
}

.navbar .navbar-nav {
    list-style: none;
    margin: 0;
    padding: 0;
}

.navbar .navbar-nav a {
    color: white;
    display: block;
    /* font-family: 'Roboto Condensed', sans-serif;
    font-size: 11.5px;
    font-weight: 700;
    line-height: 25px;
    padding: 0 10px;
    position: relative;
    text-transform: uppercase;
    transition: all 0.5s; */
}

.navbar .navbar-nav>li {
    display: block;
    float: left;
    padding: 0;
    position: relative;
}

.navbar .navbar-nav>li:first-child {
    border-left: 0;
}

.navbar .dropdow-menu {
    position: absolute;
    top: 100%;
    left: auto;
    text-align: left;
    padding-top: 10px;
    display: none;
    min-width: 175px;
}

.navbar .dropdown-menu {
    padding: 15px 12px;
    margin: 0;
    background: #1a4884;
    position: relative;
    font-size: 14px;
    z-index: 999;
    list-style-type: none;
}

.nav-main .dropdown-menu li {
    padding: 0;
    margin-bottom: 10px;
}

.navbar .dropdow-menu li a {
    color: #fff;
    display: block;
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    padding: 0 10px;
    text-transform: initial;
}

.navbar .navbar-nav>li:hover .dropdown-menu {
    display: block;
}

.navbar .dropdowm-menu li:hover a {
    color: #ff7800;
}

.main {
    min-height: 300px;
    padding-bottom: 40px;
}

.row {
    margin-right: -15px;
    margin-left: -15px;
}

#mainContent-inner {
    padding: 10px;
}

.navbar-light .navbar-brand {
    color: #fff;
}

.bg-dark {
    margin-bottom: 20px;
    border-radius: 10px;
    background: #003478!important;
}

.nav-item {
    font-size: 11px;
    color: white;
}


}
.navbar-light .navbar-brand:hover {
    color: #ff7800;
}
.navbar-light .navbar-nav .active>.nav-link {
    color: #fff;
}
.navbar-light .navbar-nav .active>.nav-link:hover {
    color: #ff7800;
}
.navbar-light .navbar-nav .nav-link {
    color: #fff;
    padding-left: 3.95em;
}
.navbar-light .navbar-nav .nav-link:hover {
    color: #ff7800;
}
.navbar-light .navbar-nav .nav-link.disabled {
    color: #fff;
    padding-left: 3.95em;
}
.navbar-light .navbar-nav .nav-link.disabled:hover {
    color: #ff7800;
}
.ropdown-item {
    color: white;
}
.dropdown-menu a:hover {
    background-color: #81878f;
}

/* end menu */

/* foooter*/
footer {
    background-color: #003478;
    border-top: solid 2px #808080;
    color: #fff;
    font-size: 12px;
    padding: 30px 0 10px 0;
}
.it-nav-footer {
    overflow: hidden;
}
.nav-footer-link {
    border-right: dotted 1px white;
    display: inline-block;
    float: left;
    font-family: 'Roboto Condensed', sans-serif;
    list-style: none;
    margin: 0;
    min-height: 80px;
    padding: 0 5px;
    vertical-align: middle;
    width: 24.51282%;
}
footer .ui-link-white {
    font-size: 12px;
    color: #fff;
}

/* .nav-footer-link li:after {
    color: #fff;
    content: "-";
    display: inline-block;
    font-size: 12px;
    left: 0;
    position: absolute;
    top: 2px;
} */
.nav-footer-link a:hover {
    color: #ff7800;
}
footer .footer_bot {
    overflow: hidden;
    padding-top: 50px;
}
footer .footer__bot p {
    overflow: hidden;
    padding-top: 6px;
    font-size: 12px;
    color: #fff;
}
p:last-child {
    margin-bottom: 0;
}
footer .footer_bot .footer_bot-img {
    margin-right: 22px;
}
footer .footer_bot .footer_bot-img,
.wrapper-left {
    float: left;
}
.nav-footer-link li {
    display: block;
    margin-bottom: auto;
    padding-left: 7px;
    position: relative;
}
.nav-footer-link li:after {
    color: #fff;
    content: "-";
    display: inline-block;
    font-size: 12px;
    left: 0;
    position: absolute;
    top: 2px;
}

/*logo*/
.location .breadcrumb {
    padding-left: 25px;
    width: 1100px;
}
.breadcrumb {
    padding: 0;
    list-style: none;
    text-align: left;
    line-height: 25px;
    background-color: #003478!important;
    border-radius: 5px;
}
.breadcrumblink {
    color: white;
}
.breadcrumb a:hover {
    color: #ff7800;
}
.main {
    background: #fff;
    border: 1px solid #fff;
    border-top: none;
    margin-bottom: 15px;
    min-height: 350px;
}
.mainContent-inner {
    padding: 10px;
}
p {
    margin: 0 0 15px 0;
}
.anh img {
    max-width: 100%!important;
    height: auto!important;
}
h1.title {
    margin-top: 25px;
    margin-bottom: 25px;
}
.logo {
    padding-top: 20px;
}
.tlu-menu {
    position: relative;
    padding: 0px;
    margin: 0px;
    margin-top: 20px;
    margin-bottom: 25px;
}
.tlu-title {
    font-size: 30px;
    line-height: 2;
    font-family: Calibri;
}
.tlu-title a {
    color: blue;
}
.tlu-menu .column-2 ul li a {
    display: block;
    line-height: 2;
    font-size: 1em !important;
    text-decoration: none;
    padding: 5px 7px;
    border-bottom: 1px solid rgb(204, 204, 204);
}
.column2 a {
    color: black !important;
}
.unitily {
    margin: 30px 0;
}
.toppage {
    display: block;
    float: right;
}

/* end logo */

/* gioi thieu */
h2.title {
    margin-top: 30px;
    margin-bottom: 25px;
}
.cardcongtrinh {
    margin-top: 15px;
}
.related .related-title {
    margin-bottom: 10px;
}
h1 {
    font-size: 2rem;
}

/* thu */

/* css thá»­ */
.home-contact-panel {
    padding: 40px 0 0 0;
}
.home-contact-panel {
    width: 100%;
    float: left;
    background: #fff;
}
.ci-box {
    background: #c5deff;
    width: 100%;
    float: left;
    margin-bottom: 40px;
    padding: 70px 20px 30px;
    position: relative;
}
.ci-box.c1 .hcp-icon {
    background: #eab830;
}
.fa,
.fas {
    font-weight: 900;
}
.fa,
.fab,
.fal,
.far,
.fas {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
}
.fa-phone:before {
    content: "\f095";
}
.ci-box.c1:hover .hcp-icon {
    background: #fff;
    color: #eab830;
}
.ci-box strong a {
    color: #333;
}
.ci-box.c1:hover strong a,
.ci-box.c2:hover strong a,
.ci-box.c3:hover strong a,
.ci-box.c4:hover strong a {
    color: #fff;
}
.ci-box.c1:hover strong {
    background: #eab830;
    color: #fff;
}
.ci-box strong {
    color: #333;
    border: 1px solid #e6e6e6;
    font-family: 'Poppins', sans-serif;
    display: block;
    line-height: 56px;
    background: #fff;
    text-align: center;
    font-weight: 600;
    font-size: 16px;
}
.hcp-icon {
    width: 100px;
    height: 100px;
    border-radius: 100%;
    background: #eab830;
    line-height: 90px;
    text-align: center;
    color: #ffffff;
    font-size: 48px;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    border: 5px solid #f5f5f5;
    top: -50px;
}
.ci-box.c2 .hcp-icon {
    background: #09c5ff;
}
.ci-box.c2:hover .hcp-icon {
    background: #fff;
    color: #6ad59a;
}
.ci-box.c2:hover strong {
    background: #09c5ff;
    color: #fff;
}
.ci-box.c3 .hcp-icon {
    background: #fa394a;
}
.ci-box.c3:hover .hcp-icon {
    background: #fff;
    color: #fa394a;
}
.ci-box.c3:hover strong {
    background: #fa394a;
    color: #fff;
}
.h1-welcome {
    margin-bottom: 30px !important;
}
.welcome-box {
    padding-right: 40px;
}
.welcome-title strong {
    text-transform: uppercase;
    color: #fa394a;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    display: block;
    font-size: 22px;
    margin-bottom: 15px;
}
.welcome-title h1 {
    font-size: 24px;
}
.welcome-title h1 {
    border-top: 1px solid #e1e1e1;
    position: relative;
    padding-top: 15px;
    margin-bottom: 20px;
}
.welcome-box p {
    margin-bottom: 20px;
    line-height: 30px;
    color: #666666;
    font-size: 16px;
}
.welcome-title h1:after {
    position: absolute;
    left: 0;
    top: -2px;
    background: #fa394a;
    content: "";
    height: 3px;
    width: 100px;
}
a.btn-style-1:hover {
    color: #fff;
    background-color: #fa394a;
}
a.btn-style-1 {
    display: inline-block;
    border: 1px solid #18254a;
    line-height: 48px;
    padding: 0 30px;
    color: #18254a;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 700;
    position: relative;
    overflow: hidden;
}
.news-box {
    width: 100%;
    float: left;
    box-shadow: 0 3px 8px rgba(0, 0, 0, .0);
}
.news-box.img-post .news-thumb {
    height: 230px;
}
.news-thumb {
    position: relative;
    overflow: hidden;
}
.news-box .img-caption {
    text-align: center;
    position: absolute;
    left: 0;
    bottom: 0;
    padding-bottom: 50px;
    z-index: 999;
    padding-left: 35px;
    padding: 39px;
}
.img-caption h3 a {
    text-align: center;
    color: white !important;
    font-size: 18px !important;
    font-weight: 600 !important;
}

/* thu */
.home1-news {
    padding: 50px 0 0;
}
.home1-news {
    width: 100%;
    background: #ebebeb;
}
.home1-news .container {
    position: relative;
}
.isotope.items {
    margin: 0 -15px;
}
.isotope .item {
    float: left;
}
.home1-news .item {
    margin-bottom: 30px;
}
.news-thumb:after {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 0%;
    background: rgba(0, 0, 0, .40);
    content: "";
    opacity: 0;
}
.news-excerpt {
    width: 100%;
    float: left;
    background: #fff;
    padding: 28px 30px 25px;
}
.news-box span.post-date {
    color: #999999;
}
.news-box:hover {
    box-shadow: 0 3px 8px rgba(0, 0, 0, .1);
}
.news-box:hover a.news-details {
    background: #294373;
    color: #fff;
}
.news-box a.news-details {
    width: 100%;
    display: block;
    background: #fa394a;
    color: #fff;
    text-align: center;
    line-height: 50px;
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
}
.tach-khoi {
    height: 30px;
}
.news-box .img-caption span.post-date,
.news-box .img-caption h4 a {
    color: #fff;
    text-shadow: 0 1px 0 rgba(0, 0, 0, .50);
}
.meet-professors {
    background: url(/public/img/professor-bg.jpg);
    background-image: url("public/img/professor-bg.jpg");
    width: 100%;
    background-size: cover;
}
.home1-departments {
    background: url('../h1deprt-bg.jpg') no-repeat center center;
    background-size: cover;
    width: 100%;
}
.home1-departments .stitle {
    color: #fa394a;
    font-size: 14pt;
    font-weight: 600;
    padding-top: 10px;
}
.stitle {
    position: relative;
    padding-left: 30px;
    margin-bottom: 20px;
    font-size: 14pt;
    font-weight: 600;
}
.stitle:after {
    background: url(/sites/all/themes/fit/assets/images/titleicon.png);
    width: 20px;
    height: 23px;
    content: "";
    position: absolute;
    left: 0;
    top: 0px;
}
.home1-departments .dprt-box h5 {
    line-height: 1.8;
    color: #fff;
    letter-spacing: 0.7px;
    font-size: 16px;
    text-transform: uppercase;
    margin: 10px;
    text-align: center;
    font-weight: 600;
}

/* .dprt-box:after {
    position: absolute;
    left: 0px;
    top: 0;
    width: 100%;
    height: 0;
    background: rgba(0, 0, 0, .1);
    content: "";
    opacity: 0;
} */

/* .dprt-box:hover:after {
    height: 100%;
    opacity: 1;
} */
.dprt-box {
    width: 100%;
    float: left;
    color: #fff;
    text-align: center;
    padding: 0px;
    position: relative;
    overflow: hidden;
}

/* .dprt-box:after {
    position: absolute;
    left: 0px;
    top: 0;
    width: 100%;
    height: 0;
    background: rgba(0, 0, 0, .1);
    content: "";
    opacity: 0;
} */
.news-box h5 a {
    font-size: 18px !important;
    font-weight: 600 !important;
    color: #181414 !important;
}
.home1-news .item img {
    width: 100%;
    height: auto;
}

/* .news-box.img-post .news-thumb:after {
    position: absolute;
    left: 0;
    top: 0;
    background: rgba(0,0,0,.4);
    content: "";
    width: 100%;
    height: 100%;
    opacity: 1;
}
.news-box:hover .news-thumb:after {
    opacity: 1;
    height: 100%;
     transition: all ease-in-out 0.3s;
} */
.img-responsive,
.thumbnail a>img,
.thumbnail>img {
    display: block;
    max-width: 100%;
    height: auto;
}
.news-box .img-caption1 {
    text-align: center;
    position: absolute;
    left: 0;
    bottom: 0;
    padding-bottom: 50px;
    z-index: 999;
    padding-left: 35px;
}